/* MENGATUR LEBAR, TINGGI, POSISI ELEMENT SECARA 2 DIMENSI */

* {
    box-sizing: border-box;
    margin : 0;
    padding : 0
}

.first-container{
    display: grid;
    width: 90%;
    /* height: 70vh; Tinggi view browser */
    margin: 0 auto;
}

.item {
    background-color: #58d5f6;
    color: white;
    padding: 10px;
    font-size: 20px;
}

/* 
    tag apapun yang memiliki class 'item'
    dimana mereka merupakan sebuah child
    dan mereka merupakan child dengan urutan angka genap (2 , 4, 6, 8, dst 
*/
.item:nth-child(even){
    background-color: #236fc8;
}


/* CONTAINER PROPERTY */
.first-container{
    /* Menentukan banyak kolom dan mengatur lebar setiap item */

    /* grid-template-columns: 100px 400px 200px ; */
    /* grid-template-columns: 25% 25% 25%; */
    /* grid-template-columns: repeat(3, 25%); */
    grid-template-columns: 1fr 3fr 1fr;

    /* Menentukan tinggi baris */
    /* untuk baris pertama */
    grid-template-rows: 100px;
    /* grid-template-rows: 100px 150px 70px; untuk baris pertama, kedua ,ketiga */
    /* grid-template-rows: 10% 60% 20%; */
    /* grid-template-rows: 1fr 3fr 2fr; */
    /* grid-template-rows: repeat(3, 20%); */

    /* Menentukan tinggi semua baris yang belum di definisikan*/
    grid-auto-rows: 150px ;

    /* margin antar kolom */
    /* column-gap : 20px; */

    /* margin antar baris */
    /* row-gap: 15px; */

    gap : 20px 15px

}

.item-2 {
    /* grid-column-start: 2;
    grid-column-end: 3; */
    grid-column: 2 / 3;

    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1 / 3;

}

.item-5 {
    grid-column: 1 / 3;
}

.item-6 {
    grid-row: 2 / 4;
    grid-column : 3 / 4
}

/* JUSTIFY & ALIGN CONTENT */
.second-container {
    display: grid;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    background-color: aquamarine;
    margin-bottom: 100px;

    grid-template-columns: 80px 150px 80px;
    grid-auto-rows: 80px;
    gap: 10px;
    
    /* justify-content : HORIZONTAL */
    /* justify-content: start | end | center | space-around | space-between | space-evenly */
    justify-content: space-evenly;

    /* align-content: VERTICAL */
    align-content: space-evenly;
}


